

.contenedorMensajes{
	
	position: absolute;
	
	right:0;
	left:2;
	top:0;
	bottom:10;
	
	
	
	overflow-y: scroll;
    overflow-x: hidden;
    padding: 0 4 0 4;
	
}


.txtMensaje
{
	font-family:Consolas;
	font-size:14;
	
    resize: none;
    position: absolute;
	
	
    bottom: 0;
	right:15;
	left:0;
	height:20;
	width:100%;
	
	overflow-y:hidden;
}


div.chat{
	overflow: hidden;
	width: 100%;
	height: 100%;
}



div.chat div.bloque
{
	font-family:Consolas;
	font-size:14;
	
    margin: 5 0 5 0;
	
    padding: 5 5 5 5;
	
    background-color: #FFFFD9;
	
	border: solid 1px;
	border-color: rgb(147,143,90);
	
	
	
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	
}

div.chat div.bloque div.usuario{
    font-weight: bold;
	display: inline;
	padding: 0;
	margin: 0;
    text-align: right;
}

div.chat div.bloque hr{
    margin: 0;
}

div.chat div.usuario0{
	background-color: rgb(253,252,228);
	
	-webkit-border-radius: 11px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 11px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 11px;
	border-bottom-left-radius: 0;
}


div.chat div.usuario1{
	background-color: rgb(245,245,255);
	
	-webkit-border-radius: 11px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 11px;
	-moz-border-radius-bottomright: 0;
	border-radius: 11px;
	border-bottom-right-radius: 0;
	
}

div.chat div.usuario2{
	background-color: rgb(255,220,220);
	
	-webkit-border-radius: 11px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 11px;
	-moz-border-radius-bottomright: 0;
	border-radius: 11px;
	border-bottom-right-radius: 0;
	
}

div.chat div.usuario3{
	background-color: rgb(220,255,220);
	
	-webkit-border-radius: 11px;
	-webkit-border-bottom-right-radius: 0;
	-moz-border-radius: 11px;
	-moz-border-radius-bottomright: 0;
	border-radius: 11px;
	border-bottom-right-radius: 0;
}



