.kanban_Board
{
	min-width:680px;
	max-width:680px;
	width:680px;
	max-height:300px;
	min-height:300px;
	height:300px;
	display:inline-block;
}
  
.panel_tareas
{
	position:relative;
	height:100%;
	width:30%;
	min-width:200px;
	background-color:#FFDC73;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
	border-width:medium;
	display:inline-block;
	vertical-align:top;
	border-color: black;
    border-width: 3px;
    border-style: solid;
    padding: 4px;
    margin: 2px;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

.panel_tareas_boton_add_tarea
{
    width:30px;
    height:30px;
    margin-left:2px;
    float:right;
	
        /*GENERADO CON CSS GENERATOR*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: Black;
	background: -moz-linear-gradient(
		top,
		Lime 0%,
		Green);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(Lime),
		to(Green));
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
	border: 3px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);     
}

.panel_tareas_boton_add_tarea:active
{
    background: -moz-linear-gradient(
		top,
		Green 0%,
		Lime);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(Green),
		to(Lime));
}

.panel_tareas_boton_add_tarea:hover
{
    -webkit-box-shadow: 0px 0px 15px 5px #f7ff00;
    -moz-box-shadow: 0px 0px 15px 5px #f7ff00;
    box-shadow: 0px 0px 15px 5px #f7ff00;
}

.panel_tareas_nombre_panel
{
	font-size:larger;
	font-weight:bold;
	margin-right:20px;
	display:inline-block;
}

.panel_tareas_botonera
{ 
	position: absolute;		
	top: 0;
	left: 0;
	right: 0;
	height: 20px;
	margin:5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.panel_tareas_lista_tareas
{
	position: absolute;
	top: 37px;
	bottom: 0px;
	right: 0;
	left: 0;
	margin: 5px;
	max-height:100%;
    overflow-y: auto;
	background-color:white;
	border:2px solid black;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding:5px;
}

.tarea
{
    margin-bottom:4px;
    draggable: true;
	list-style:none;
    /*GENERADO CON CSS GENERATOR*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: Gray;
	padding: 5px;
	background: -moz-linear-gradient(
		top,
		#FFDC73 0%,
		#ffbf00);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#FFDC73),
		to(#ffbf00));
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid #000000;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.4),
		0px 1px 0px rgba(255,255,255,0.3);   	
}

.tarea_contraida .tarea_contraida_controles
{  
    display:block;
}

.tarea_contraida .tarea_expandida_controles
{
    display:none;
}

.tarea_expandida .tarea_contraida_controles
{
    display:none;
}

.tarea_expandida .tarea_expandida_controles
{
    display:block;
}

.tarea:hover
{
    color:Black;
    background: -moz-linear-gradient(
		top,
		#ffbf00 0%,
		#FFDC73);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffbf00),
		to(#FFDC73));
}

.tarea_expandida_nombre
{
    width:100%;
    -moz-border-radius: 5px 5px 0px 0px;
    -webkit-border-radius: 5px 5px 0px 0px;
    border-radius: 5px 5px 0px 0px;
    border-style:solid;
    border-width:1px;
    margin-bottom:0px;
    padding:5px;
}

.tarea_expandida_descripcion
{
	min-height: 50px;
    height: auto;
	
    margin-top:0px;
    width:100%;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    resize:none;
    border-style:solid;
    border-width:1px;
    padding:5px;
}


