#prototipos
{
    display:none;
}


.plantilla
{
    display:none;
}



#persistencia
{
    display:none;
}


#administrador{

	z-index:1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width:200px;
	
	background-color:#AAAAAA;
	
	color: #FFDC73;
	
	overflow-x: hidden;
	overflow-y: auto;
	
	padding:5px;
	
}

#hideBar{
	z-index:1;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 210px;
	width:20px;
	
	background-color:#FFDC73;
	border-right-style:solid;
	border-color: #FFC617;
    border-width: 1px;
}


#panel_gadgets{
	
	z-index:0;
	
	background-color: #F8F3E4;
	
	position: absolute;		
	top: 0;
	left: 20px;
	right: 0;
	bottom:0;
	
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: scroll;
}


#administrador .logoVortexComm{
	font-size: 25px;
	font-weight: bold;
	white-space: nowrap;
}



#control_usuario{
	height: 32px;
	padding: 0 0 0 5;
	
}


#control_usuario div{
	display: inline;
	
}


#control_usuario .control_hola{
	width: 50%;
	
}

.control_usuario_desc{
	width: 50%;
}


.control_usuario_edit{
    border:none;
	color: #FFDC73;
}


#administrador .subAdministrador
{
	
	/*border-color: black;
    border-style: solid;
	border-width: 1px;
	*/
	padding:4px;
	background-color:#AAAAAA;
	
	white-space: nowrap;
	
}



#administrador .subAdministrador .tituloSeccion{
	font-size: 15px;
}

#administrador .subAdministrador .tituloSeccionConAdd{
	width:100%;
	border-collapse:collapse;
	color:#FFDC73;
}

#administrador .subAdministrador .tituloSeccionConAdd td:first-child{
	text-align:left;
	font-size: 15px;
	
	
}

#administrador .subAdministrador .tituloSeccionConAdd td:last-child{
	text-align:right;
}



.administrador_canales_botonera
{ 
		
}

.administrador_canales_titulo
{
	position:relative;
    left:0;
	top: 0;
	
    height:30px;
	width:60px;
}

#administrador_canales_boton_add_canal:hover
{
    -webkit-box-shadow: 0px 0px 15px 5px #f7ff00;
    -moz-box-shadow: 0px 0px 15px 5px #f7ff00;
    box-shadow: 0px 0px 15px 5px #f7ff00;
}



.control_canal{
	margin:5px;
	padding: 5px;
	
	font-size:13px;
    
	background-color: #e1cd91;
	
	height: 20px;
	
	-moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
	
}


.control_canal_seleccionado{
	
	background-color: #FFDC73;
	
    -webkit-box-shadow: 0px 0px 5px 2px green;
    -moz-box-shadow: 0px 0px 5px 2px green;
    box-shadow: 0px 0px 5px 2px green;
}

.control_canal input{
	font-size: inherit;
	
	
	width: 100%;
	border: none;
	color: black;
	
}


.control_canal:hover{

}






.gadget{
	position:absolute;
	border: solid 2px;
	height: 300px;
	width: 400px;
	
	overflow: hidden;
	
	border: solid 1px;
	border-color: #FFC617;
	border-color: #FFC617;
	
	background-color: rgb(255,255,255);
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toolbar{
	width:100%;
	height:20;
	
	padding: 0 0 0 5;
	
	z-index: 1;
	
	background-color:#FFDC73;
	
	border-bottom-style:solid;
	border-color: #FFC617;
    border-width: 2px;
	
}



.contenedor{
	width:100%;
	
	position: absolute;
	
	right:0;
	left:0;
	top:20;
	bottom:0;
	
	background-color: white;
	/*
	overflow-y:auto;
    overflow-x:auto;
	*/
}

