#plantillas{
    display:none;
}

.libro_encontrado_en_buscador{
    list-style:none;    
}

.libro_encontrado_en_buscador:hover{
    background-color: Green;    
}

.autor_de_libro_encontrado{
    display: inline-block;
    font-weight:bold;
}

.titulo_de_libro_encontrado{
    display: inline-block;
}

.lista_de_libros_encontrados_del_buscador_de_libros,
.panel_libros_en_vista_de_libros{
    padding:5px;
    margin:0px;
}

/*
.input_nombre_autor_del_alta_de_libros, 
.input_titulo_del_alta_de_libros{
    margin-left:50px;
}
*/

.input_de_busqueda_del_buscador_de_libros
{
    display: block;
    width:100%;
}
