#plantillas{
    display:none;
}

.libro_encontrado_en_buscador{
    list-style:none;    
}

.libro_encontrado_en_buscador:hover{
    background-color: Orange;    
}

.autor_de_libro_encontrado{
    display: inline-block;
    font-weight:bold;
}

.titulo_de_libro_encontrado{
    display: inline-block;
}

.lista_de_libros_encontrados_del_buscador_de_libros,
.panel_libros_en_vista_de_libros{
    padding:5px;
    margin:0px;
}


/*
.input_nombre_autor_del_alta_de_libros, 
.input_titulo_del_alta_de_libros{
    margin-left:50px;
}
*/

.input_de_busqueda_del_buscador_de_libros
{
    display: block;
    width:100%;
}

.gadget{
	position:absolute;
	border: solid 2px;
	height: 200px;
	width: 200px;
	
	overflow: hidden;
	
	border: solid 1px;
	border-color: #FFC617;
	border-color: #FFC617;
	
	background-color: rgb(255,255,255);
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toolbar{
	width:100%;
	height:20;
	
	padding: 0 0 0 5;
	
	z-index: 1;
	
	background-color:#FFDC73;
	
	border-bottom-style:solid;
	border-color: #FFC617;
    border-width: 2px;
	
}



.contenedor{
	width:100%;
	
	position: absolute;
	
	right:0;
	left:0;
	top:20;
	bottom:0;
	
	background-color: white;
	
	overflow-y:auto;
    overflow-x:auto;

}
